.dice{
	margin:0vh 10vw;
	border-radius:10px;
	background-color:red;
	color:white;
	width: 45vw;
	height:45vw;
	text-align:center;
	font-size: xx-large;
	border:none;
}
.table{

	float:left;
	width:75vw;
	margin: 0vh 12vw;
	height: 100%;
	text-align:center;
}

body{
	background-image: url("plain_table.jpeg");
}
#slider{
	width: 100%;
	height: 20vh;
	margin: 0vh 0vw;
	outline:none;
	-webkit-appearance: none;
	background: none;
}
#slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: red;

}


#start{
	display:none;
}

#dice4{
	display:none;
	}
#dice6{
	display:none;
	}
#dice8{
	display:none;
	}
