.dice{
	margin:10vh 5vw;
	border-radius:10px;
	background-color:red;
	color:white;
	width: 20vh;
	height:20vh;
	text-align:center;
	font-size: xx-large;
	border:none;
}
.table{
	float:left;
	width:100%;
	text-align:start;
}

body{
	background-image: url("plain_table.jpeg");
}
#slider{
	width: 100%;
	outline:none;
}


#start{
	display:none;
}

#dice4{
	display:none;
	}
#dice6{
	display:none;
	}
#dice8{
	display:none;
	}
