
#start{
	background-color:#243010;
	width:50%;
	height: 10vh;
	font-size:xx-large;
	margin: 0 25%;
	margin-top: 10vh;
	border:none;
	color:white;

}


.slider {
	-webkit-appearance: none; /* Override default look */
	width: 30vh;
	height: 5vh;
	margin-top: 15vh;
	background:none;
	outline: none;
	opacity: 0.7;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 25px;
	background: red;
	border:none;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: red; /* Green background */
	cursor: pointer; /* Cursor on hover */
	border:none;
}


.dice{
	margin:30vh auto;
	border-radius:10px;
	background-color:red;
	color:white;
	width: 20vh;
	height:20vh;
	text-align:center;
	border:none;
	font-size:xx-large;
	opacity:0.7;
}

#diceX{
	margin: 10vh auto;
}

.table{
	float:left;
	width:25%;
	text-align:center;
}

body{
	background-color: #b4cce1;
	background-color: #192019;

}
